:root {
  --PrimaryColor: rgb(57, 73, 171);
  --HoverColor: rgb(57, 73, 171);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}

.home {
  height: 99vh;
  background: linear-gradient(rgba(33, 33, 33, 0.128), rgba(33, 33, 33, 0.522)),
    url(../../Assets/wp5911082-minimalist-purple-wallpapers.jpg);
  background-position: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;

  .secContainer {
    .homeText {
      text-align: center;
      .title {
        color: var(--whiteColor);
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;
      }
      .subTitle {
        color: var(--whiteColor);
        opacity: 0.9;
        font-size: 13px;
        font-weight: 300;
        padding: 1rem 0;
        max-width: 70%;
        text-align: center;
        margin: auto;
      }
      .btn {
        padding: 0.6rem 1.5rem;
      }
    }
   
  }
}

@media screen and (min-width: 480px) {
  .home .secContainer .homeCard {
    display: flex;
    bottom: -200px;
    width: 80%;
  }

}
