.userhome{
    height: 12vh;
        background:rgb(126, 100, 228);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        position: relative;
}
